# OS
.DS_Store

# Python / uv
__pycache__/
.pytest_cache/
.ruff_cache/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
.python-version
backend/api/uv.lock

# Go
backend/collector/collector

# Environment
**/.env
.vercel
